#section {
  flex: 1;
  background-color: #ffffff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.title {
  width: 100%;
  white-space: break-spaces;
  word-break: break-word;
  color: rgb(50, 48, 44);
  font-size: 2.5em;
  letter-spacing: -0.02em;
  font-weight: 700;
  cursor: text;
  line-height: 1.2;
  margin-top: 160px;
  outline: none;
  position: relative;
}

.title:has(br:only-child)::before {
  content: attr(data-placeholder);
  opacity: 0.15;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  outline: none;
  border: none;
  resize: none;
  color: rgb(50, 48, 44);
  font-size: 1em;
  line-height: 2em;
  letter-spacing: 0.2px;
}
