#app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.document-detail {
  display: flex;
  width: 710px;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.document-detail-placeholder {
  width: 100px;
  height: 100px;
  opacity: 0.1;
}
